.logo123 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.border {
    border: 1px solid #e5e9ed;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0 9px 21px #3333;
    background-color: #fff;
    width: 46rem;
    margin-left: 30%;
    display: flex;
}

.login {
    width: 50%;
    padding: 1rem 2rem;
}

.inborder {
    right: 0%;
    width: 50%;
    padding: 1rem 2rem;
    text-align: initial;
    top: 0px;
}

#border1 {
    position: absolute;
    width: 100%;
    height: 11%;
    left: 0px;
    top: 0px;
    background: #333;
}

#dropdown {
    position: absolute;
    right: 0px;
    padding: 25px
}

#dropbtn {
    font-size: 17px;
    border: none;
    background: #333;
    color: white;
    padding: 4.5px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd
}

.show {
    display: block;
    right: 0px;
}

#border2 {
    position: absolute;
    width: 11%;
    height: 100%;
    left: 0px;
    top: 11%;
    background: #333;
}

.hello {
    position: relative;
    left: -15%;
    font-size: 18px;
    line-height: 90px;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: white;
}

#hello123 {
    position: absolute;
    height: 50%;
    left: 60%;
    top: 50%;
}

#linechart {
    position: absolute;
    width: 80%;
    height: 30%;
    top: 20%;
    left: 15%;
}

#barchart {
    position: absolute;
    top: 58%;
    left: 11%;
    height: 25%;
    width: 50%;
}



.nhmrvp {
    position: absolute;
    top: 30%;
    left: 15%;
}



.trade {
    position: absolute;
    top: 45%;
    height: 40%;
    left: 20%;
    width: 40%;
    border-style: solid;
}

.table-scroll {
    width: 40%;
    display: block;
    empty-cells: show;
    /* Decoration */
    border-spacing: 0;
    border: 1px solid;
    position: absolute;
    top: 40%;
    left: 20%;
}

.table-scroll thead {
    background-color: #f1f1f1;
    position: relative;
    display: block;
    width: 100%;
    overflow-y: scroll;
}

.table-scroll tbody {
    /* Position */
    display: block;
    position: relative;
    width: 100%;
    overflow-y: scroll;
    /* Decoration */
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.table-scroll tr {
    width: 100%;
    display: flex;
}

.table-scroll td,
.table-scroll th {
    width: 80px;
    height: 90px;
    flex-basis: 100%;
    flex-grow: 2;
    display: block;
    padding: 1rem;
    text-align: center;
}


/* Other options */

.table-scroll.small-first-col td:first-child,
.table-scroll.small-first-col th:first-child {
    flex-basis: 20%;
    flex-grow: 1;
}

.table-scroll tbody tr:nth-child(2n) {
    background-color: rgba(130, 130, 170, 0.1);
}

.body-half-screen {
    max-height: 50vh;
}

.small-col {
    flex-basis: 10%;
}





