.linechart {
    background-color: white;
    width: 600px;
    left: 13%;
    top: 2%;
    border-radius: 10px;
    position: relative;
    border: 1px solid black;
    border-radius: 10px;
}

.title {
    margin: 0px;
    background-color: black;
    color: white;
    text-align: left;
    font-size: 30px;
    border-radius: 10px;
}

.piechart {
    background-color: white;
    width: 600px;
    position: relative;
    left: 13%;
    top: 3%;
    border: 1px solid black;
    border-radius: 10px;
}

.containborder {
    position: relative;
    height: 100px;
    left: 12%;
    display: inline-flex;
}

.containborder-body {
    background-color: white;
    position: relative;
    height: 100px;
    width: 300px;
    border-style: outset;
    margin-left: 10px;
    border: 1px solid black;
    border-radius: 10px;
    top: 10px;
}

.row_content {
    height: 100%;
    width: 100%;
}

.titlename {
    background-color: black;
    color: white;
    border: 1px solid;
}

.row_table {
    background-color: black;
    color: white;
    width: 100%;
    text-align: center;
    border: 1px solid black;
}

.content_table-tr {
    position: absolute;
    width: 100%;
    padding: 22.5px;
    text-align: center;
}

.table-container {
    position: relative;
    left: 62%;
    bottom: 72%;
    width: 38%;
    height: 75%;
    border: 1px solid black;
    border-radius: 10px;

}

.my-custom-scrollbar {
    position: relative;
    overflow: auto;
}

.table-wrapper-scroll-y {
    display: block;
}

.history {
    margin: 0px;
    background-color: black;
    color: white;
    font-size: 30px;
}

.table-scroll {
    height: 94%;
    width: 100%;
    display: block;
    empty-cells: show;
    /* Decoration */
    border-spacing: 0;
    border-radius: 10px;
    position: absolute;
}

.table-scroll thead {
    background-color: #f1f1f1;
    position: relative;
    display: block;
    width: 100%;
}

.table-scroll tbody {
    /* Position */
    display: block;
    position: relative;
    width: 100%;
    overflow-y: scroll;
    /* Decoration */
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.table-scroll tr {
    width: 100%;
    display: flex;
}

.table-scroll td, .table-scroll th {
    flex-basis: 100%;
    flex-grow: 2;
    display: block;
    padding: 1rem;
    text-align: left;
}

/* Other options */

.table-scroll tbody tr:nth-child(2n) {
    background-color: rgba(130, 130, 170, 0.1);
}

.body-half-screen {
    max-height: 79vh;
}

.small-col {
    flex-basis: 10%;
}